<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{name}}
<p> nist </p>
{{title}}
<script src="./js/app.js"></script>
</body>
</html>